<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Test application for flask-websockets</title>
    <meta charset="utf8" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />

</head>
<body>
    <h1>Flask-NoFLoC example</h1>

    <p>This website is an example for <a href="https://github.com/shoeffner/Flask-NoFLoC">Flask-NoFLoC</a>.
    The code can be found in the <a href="https://github.com/shoeffner/Flask-NoFLoC/tree/master/examples">examples directory</a>.</p>
    <p>Make sure to checkout the <a href="https://shoeffner.github.io/Flask-NoFLoC">Flask-NoFLoC documentation</a>.</p>

    <p>If you check the network response for this website, it should contain this header:</p>
    <pre><code>Permissions-Policy: interest-cohort=()</code></pre>
</body>
</html>
